.bc-gold{
    background: linear-gradient(90deg, #ae8625, #f7ef8a 30%, #d2ac47 80%, #edc967 95%);
}
.bc-red{
    background: #cd071e;
}
.bc-black{
    background: #000;
}
.bc-white{
    background: white;
}
.bc-yellow{
    background: #C1B90A;
}
.bc-gray-black{
    background: #353030;
}
.bc-gray-lblack {
    background: #433d3d;
}

.c-red{
    color: #cd071e;
}
.c-black{
    color: #000;
}
.c-white{
    color: white;
}
.c-yellow{
    color: #C1B90A;
}
.c-gray-black{
    color: #353030;
}





.c-black-link{
    color: #000;
}
.c-black-link:hover{
    color: #cd071e;
}
