.parallax {
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-halfsize {
    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-home{
  /* The image used */
  background-image: url("../img/asiandecor.png");
}
.img-chinesefood{
    /* The image used */
    background-image: url("../img/chinesefood.jpg");
}

.img-japanesefood{
    /* The image used */
    background-image: url("../img/japanesefood.jpg");
}

.img-koreanfood{
    /* The image used */
    background-image: url("../img/koreanfood.jpg");
}

