.fos-1{
    font-size: 1000%; !important;
}
.fos-2{
    font-size: 400%; !important;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

.ts-1 {
    text-shadow: 0px 0px 20px #e3b84a;
}
.mt{
  margin-top: 25px!important;
}
